// Color
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorGray: #292929;

// fONT-FAMILY
$montserrat: "Montserrat", sans-serif;
$gilroy-light: "Gilroy Light";
$gilroy-black: "Gilroy Black";
$gilroy-bold: "Gilroy Bold";
$gilroy-regular: "Gilroy Regular";
$gilroy-thin: "Gilroy Thin";
$gilroy-semi-bold: "Gilroy SemiBold";

// Font Weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: bold;
$fw-normal: normal;
$fw-thin: 100;
$fw-semi-bold: 600;
$fw-black: 900;
