%siteBtn {
  padding: 15px 40px;
  font-family: $montserrat;
  font-weight: $fw-regular;
  @include media-breakpoint-down(md) {
    padding: 10px 28px;
  }
}

%blackBtn {
  background-color: $colorBlack;
  color: #fffdff;
  text-transform: uppercase;
  font-size: 1.6rem;
}
