.projectosPage {
  .projectos__content__pane {
    .project__inner {
      gap: 30px;
      @include media-breakpoint-down(md) {
        gap: unset;
      }
      .tabItem {
        flex: 1 0 25%;
        @include media-breakpoint-down(md) {
          flex: 1 0 100%;
        }
      }
    }
    &__pagination {
      margin-top: 80px;
      margin-bottom: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-down(md) {
        margin-top: 25px;
        margin-bottom: 25px;
      }
      .page-link {
        color: $colorBlack;
        font-size: 2rem;
        border: unset;
        i {
          color: $colorBlack;
          font-size: 3rem;
        }
      }
    }
  }
}
