.singleTop {
  @include sectionSpaceMargin;
  &__left {
    @include media-breakpoint-down(md) {
      padding-right: unset;
    }
    padding-right: 70px;

    ul {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      li {
        h4 {
          font-family: $gilroy-bold;
          font-size: 4rem;
          margin-bottom: 15px;
        }
      }
    }
    .singleBtn {
      margin-top: 50px;
      .singleLink {
        @extend %siteBtn;
        @extend %blackBtn;
      }
    }
  }
}

// Location
.location {
  @include sectionSpaceMargin;

  .heading {
    margin-bottom: 30px;
  }
  .locationMap {
    margin-top: 40px;
  }
}

// Galeria
.galeria {
  @include sectionSpaceMargin;
  .heading {
    margin-bottom: 50px;
  }
  &__inner {
    @include media-breakpoint-down(md) {
      height: 33vh;
    }
    position: relative;
    height: 80vh;

    .galeriaSwipe {
      height: 100%;

      .swiper-wrapper {
        height: 100%;
        .swiper-slide {
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}

// características

.caracteristicas {
  @include sectionSpaceMargin;
  @include marginBottom;
  .heading {
    margin-bottom: 40px;
  }
  &__box {
    text-align: center;
    img {
      height: 70px;
      width: 70px;
      margin-bottom: 20px;
      @include media-breakpoint-down(md) {
        height: 40px;
        width: 40px;
      }
    }
  }
  .singleBtn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    .singleLink {
      @extend %siteBtn;
      @extend %blackBtn;
    }
  }
}
